<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <content select=".header"></content>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <content select=".main"></content>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <span>Test 4</span>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <span>Test 2</span>
    </div>
</div>