//  :host {
//     width: 100%;
// }
    
.mdc-card {
    background-color: #0074d9;
    margin: 10px;
    width: 98%;
}
    
h1.mdc-card__title.mdc-card__title--large.title, 
h2.mdc-card__subtitle.subtitle {
    color: black;
}

.mdc-card__actions {
    border-top: 1px solid #e8e8e8;
}
    
#toggle {
    float: right;
}