.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 1px solid $blue-primary;

  &:hover {
    @include transform(scale(1.05));
  }

  .card-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 100px auto 80px;
    grid-template-areas: 'image' 'heading' 'body' 'footer';

    .card-image {
      grid-area: image;
    }

    .card-header {
      grid-area: heading;
    }

    .card-body {
      grid-area: body;
    }

    .card-footer {
      grid-area: footer;
    }
  }
}
